/* Color variables */
:root {
  --primary-color: #7633f9;
  --secondary-color: #ffc107;
  --light-color: #f5f5f5;
  --dark-color: #08023a;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --btc-color: #f2a400;
  --eth-color: #626bd9;
  --ltc-color: #7d8fb3;
  --xrp-color: #0c1818;
  --uni-color: #ff007a;
}
