/* Global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-color);
}

/* Heading and container styling */
h1 {
  font-size: 5rem;
  color: var(--light-color);
}

.container {
  width: 600px;
  margin-top: 5vh;
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
}
